* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
    background-color: paleturquoise;
    color:darkslategrey;
    font-size:38px
}

a:link,
a:visited {
    color:darkslategray;
    font-size: 20px;
}

li,
p {
    font-size: 20px;
}

h2 {
    color: darkslategrey;
    font-size: 28px;
}

li{
    margin: 10px;
}
.home {
    padding: 5px;
}